In [1]:
! pip install numpy

Collecting numpy
  Downloading numpy-1.20.3-cp39-cp39-win_amd64.whl (13.7 MB)
Installing collected packages: numpy
Successfully installed numpy-1.20.3
WARNING: You are using pip version 20.2.3; however, version 21.1.2 is available.
You should consider upgrading via the 'c:\users\portatil hp\appdata\local\programs\python\python39\python.exe -m pip install --upgrade pip' command.

In [3]:
from numpy import random as r
print(r.choice(['Andres','Juan','Pedro', 'Mateo'], size= r.choice([1,2],p=[0.1,0.9]) , p=[0.5,0.2,0.2,0.1], replace=False))

['Juan' 'Andres']

In [4]:
! pip install pandas

Collecting pandas
  Downloading pandas-1.2.4-cp39-cp39-win_amd64.whl (9.3 MB)
Collecting pytz>=2017.3
  Downloading pytz-2021.1-py2.py3-none-any.whl (510 kB)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\portatil hp\appdata\roaming\python\python39\site-packages (from pandas) (2.8.1)
Requirement already satisfied: numpy>=1.16.5 in c:\users\portatil hp\appdata\local\programs\python\python39\lib\site-packages (from pandas) (1.20.3)
Requirement already satisfied: six>=1.5 in c:\users\portatil hp\appdata\roaming\python\python39\site-packages (from python-dateutil>=2.7.3->pandas) (1.16.0)
Installing collected packages: pytz, pandas
Successfully installed pandas-1.2.4 pytz-2021.1
WARNING: You are using pip version 20.2.3; however, version 21.1.2 is available.
You should consider upgrading via the 'c:\users\portatil hp\appdata\local\programs\python\python39\python.exe -m pip install --upgrade pip' command.

In [5]:
import pandas as pd
datos = { 'manzanas' : [ 3 , 2 , 0 , 1 ], 'naranjas' : [ 0 , 3 , 7 , 2 ] }
compras = pd.DataFrame( datos )
compras

   manzanas  naranjas
0         3         0
1         2         3
2         0         7
3         1         2

In [6]:
compras = pd.DataFrame( datos , index = [ 'Juno' , 'Robert' , 'Lily' , 'David' ])
compras

        manzanas  naranjas
Juno           3         0
Robert         2         3
Lily           0         7
David          1         2

In [8]:
import numpy as np
data = pd.DataFrame(np.arange(16).reshape((4,4)), index = ['Medellin','Cali','Bogotá','Girardot'], columns =['Caso 1','Caso 2', 'Caso 3', 'Caso 4'])
data

          Caso 1  Caso 2  Caso 3  Caso 4
Medellin       0       1       2       3
Cali           4       5       6       7
Bogotá         8       9      10      11
Girardot      12      13      14      15

In [10]:
miTiempo=pd.ExcelFile('D:\Mi nuevo camino/tiempo_diario.xlsx')
pd.read_excel(xlsx, 'Real')

ImportError: Missing optional dependency 'xlrd'. Install xlrd >= 1.0.0 for Excel support Use pip or conda to install xlrd.

In [11]:
! pip install xlrd

Collecting xlrdWARNING: You are using pip version 20.2.3; however, version 21.1.2 is available.
You should consider upgrading via the 'c:\users\portatil hp\appdata\local\programs\python\python39\python.exe -m pip install --upgrade pip' command.

  Downloading xlrd-2.0.1-py2.py3-none-any.whl (96 kB)
Installing collected packages: xlrd
Successfully installed xlrd-2.0.1

In [12]:
miTiempo=pd.ExcelFile('D:\Mi nuevo camino/tiempo_diario.xlsx')
pd.read_excel(xlsx, 'Real')

ValueError: Your version of xlrd is 2.0.1. In xlrd >= 2.0, only the xls format is supported. Install openpyxl instead.

In [13]:
! pip install openpyxl

Collecting openpyxlWARNING: You are using pip version 20.2.3; however, version 21.1.2 is available.
You should consider upgrading via the 'c:\users\portatil hp\appdata\local\programs\python\python39\python.exe -m pip install --upgrade pip' command.

  Downloading openpyxl-3.0.7-py2.py3-none-any.whl (243 kB)
Collecting et-xmlfile
  Downloading et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.1.0 openpyxl-3.0.7

In [14]:
miTiempo=pd.ExcelFile('D:\Mi nuevo camino/tiempo_diario.xlsx')
pd.read_excel(xlsx, 'Real')

NameError: name 'xlsx' is not defined

In [15]:
miTiempo=pd.ExcelFile('D:\Mi nuevo camino/tiempo_diario.xlsx')
pd.read_excel(miTiempo, 'Real')

,Fecha,Maps Visible,Eureka Telepresencial,Ingenieria Eléctrica,Estudio Tecnología,Inglés,Total,Dia,Acumulado,Unnamed: 9
0,2020-09-21,4.0,0.0,2.25,1.5,0.0,7.75,Lunes,7.75,NaN
1,2020-09-22,1.5,0.0,4.50,0.0,0.0,6.00,Martes,13.75,NaN
2,2020-09-23,1.5,4.0,3.00,2.5,2.0,13.00,Miércoles,26.75,NaN
3,2020-09-24,5.0,0.0,1.00,2.0,1.0,9.00,Jueves,35.75,NaN
4,2020-09-25,0.0,4.5,2.00,2.5,0.0,9.00,Viernes,44.75,NaN
...,...,...,...,...,...,...,...,...,...,...
254,2021-06-02,NaN,NaN,NaN,NaN,NaN,0.00,Miércoles,1908.25,NaN
255,2021-06-03,NaN,NaN,NaN,NaN,NaN,0.00,Jueves,1908.25,NaN
256,2021-06-04,NaN,NaN,NaN,NaN,NaN,0.00,Viernes,1908.25,NaN
257,2021-06-05,NaN,NaN,NaN,NaN,NaN,0.00,Sábado,1908.25,NaN
258,2021-06-06,NaN,NaN,NaN,NaN,NaN,0.00,Domingo,1908.25,NaN

In [7]:
import pandas as pd
venta=pd.Series([15,12,21], index=["Enero", "Febrero", "Marzo"])
venta

Enero      15
Febrero    12
Marzo      21
dtype: int64

In [8]:
import pandas as pd
venta=pd.Series([15,12,21], index=["Enero", "Febrero", "Marzo"])
venta[1]

12

In [9]:
import pandas as pd
venta=pd.Series([15,12,21], index=["Enero", "Febrero", "Marzo"])
venta["Enero"]

15

In [10]:
import pandas as pd
venta=pd.Series([15,12,21], index=["Enero", "Febrero", "Marzo"])
venta.dtype

dtype('int64')

In [11]:
import pandas as pd
venta=pd.Series([15,12,21], index=["Enero", "Febrero", "Marzo"])
venta.index

Index(['Enero', 'Febrero', 'Marzo'], dtype='object')

In [12]:
import pandas as pd
venta=pd.Series([15,12,21], index=["Enero", "Febrero", "Marzo"])
venta.values

array([15, 12, 21], dtype=int64)

In [6]:
import pandas as pd
data = {'first_name': ['Sigrid', 'Joe', 'Theodoric','Kennedy', 'Beatrix', 'Olimpia', 'Grange', 'Sallee'],
        'last_name': ['Mannock', 'Hinners', 'Rivers', 'Donnell', 'Parlett', 'Guenther', 'Douce', 'Johnstone'],
        'age': [27, 31, 36, 53, 48, 36, 40, 34],
        'amount_1': [7.17, 1.90, 1.11, 1.41, 6.69, 4.62, 1.01, 4.88],
        'amount_2': [8.06,  "?", 5.90,  "?",  "?", 7.48, 4.37,  "?"]}

df = pd.DataFrame(data, columns = ['first_name', 'last_name', 'age', 'amount_1', 'amount_2'])

df.to_excel('D:/Nueva carpeta/example.xlsx', sheet_name='example')

In [11]:
import pandas as pd
df = pd.ExcelFile('D:/Nueva carpeta/example1.xlsx')
pd.read_excel(df, 'example')

   Unnamed: 0 first_name  last_name  age  amount_1 amount_2
0           0     Sigrid    Mannock   27      7.17     8.06
1           1        Joe    Hinners   31      1.90        ?
2           2  Theodoric     Rivers   36      1.11      5.9
3           3    Kennedy    Donnell   53      1.41        ?
4           4    Beatrix    Parlett   48      6.69        ?
5           5    Olimpia   Guenther   36      4.62     7.48
6           6     Grange      Douce   40      1.01     4.37
7           7     Sallee  Johnstone   34      4.88        ?

In [12]:
import json

data = {}
data['clients'] = []

data['clients'].append({
    'first_name': 'Sigrid',
    'last_name': 'Mannock',
    'age': 27,
    'amount': 7.17})

data['clients'].append({
    'first_name': 'Joe',
    'last_name': 'Hinners',
    'age': 31,
    'amount': [1.90, 5.50]})

data['clients'].append({
    'first_name': 'Theodoric',
    'last_name': 'Rivers',
    'age': 36,
    'amount': 1.11})

with open('data.json', 'w') as file:
    json.dump(data, file, indent=4)

In [14]:
import requests

resp = requests.get('http://ip-api.com/json/208.80.152.201')
json.loads(resp.content)

ModuleNotFoundError: No module named 'request'